:root{
    --main-font:"Arial Rounded MT Bold";
    --secondary-font: "AppleGothic";
  }

 i .fa:hover{
   cursor: pointer;
 }
 .dashboard-nav{
     height: 10vh;
     box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
 }
 .dashboard-nav i,
 .dashboard-nav p{
     color: rgba(22, 22, 22, 0.781);
 }

 .balance-dashboard h1,
 .balance-dashboard p{
     color:  rgba(22, 22, 22, 0.781);
 }
 .balance-dashboard h1{
    font-family: var(--main-font);
 }
 .balance-dashboard p{
     font-family: var(--secondary-font);
 }
 .card-total{
     background-color: rgb(230, 230, 230);
     border-radius: 10px;
     padding: 20px;
     margin-bottom: 20px;
     margin: 5px 40px;
 }
 .card-total h3{
     text-align: center;
     font-family: var(--main-font);
     color:#363A4F;
     font-size: 1.2em;
 }
 .card-total p{
     text-align: center;
     font-family: var(--secondary-font);
     color: #363A4F;
 }


.dashboard-logo{
  padding:40px 0px 20% 10px;
  text-align: center;
  font-size: 2em;
}
.dashboard-logo a{
  color: white;
  font-family: var(--main-font);
}

 .blue-dashboard{
    background-color: rgba(0, 0, 0, 0.705);
    height: 100vh;
 }
.blue-dashboard div:nth-child(2) a{
    color: white;
    font-size: 15px;
    font-family: var(--secondary-font);
    padding: 20px 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.281);
    border-top: 1px solid rgba(128, 128, 128, 0.281);

}

.blue-dashboard div:nth-child(2) a:hover{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.479);
}
.add-new{
    margin-top: 1em;
    color: rgba(22, 22, 22, 0.781);
    font-family: var(--secondary-font);
    font-size: 1rem;
}
.add-new h5:hover{
    cursor: pointer;
}

  .orin-app-body{
      background-color:  rgba(216, 216, 216, 0.308);
      height: 100vh;
  }
  /* JUMBOTRON */
  
  .container h1,
  .container p{
    color: white;
    font-family: var(--main-font);
  }
  .addBtn,
  .deleteBtn{
    background-color: var(--add-btn);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    font-size: 1em;
    border-color: transparent;
    color: white;
  }
  .deleteBtn{
    background-color: var(--delete-btn);
  }
  .modalHeader{
    background-color: var(--main-green);
    color: white;
    font-family: var(--main-font);
  }
  ul li{
    list-style: none;
  }
  .homepage{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.781);
    margin: 15% 30%;
    padding: 50px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  .homepage form{
    display: flex;
    flex-direction: column;
  }
  .homepage input{
    margin: 0px 30%;
  }
  
  .link{
    text-decoration: none;
    color: black;
    width: 100%;
  }
  .link:hover{
    text-decoration: none;
  }
  .headings{
    font-family: var(--main-font);
    color:#363A4F;
  }
  .gray-container p{
    color:#363A4F;
    font-family: var(--secondary-font);
  }

  .gray-container{
    background-color:  rgba(216, 216, 216, 0.308);
    border-radius: 10px;
    box-shadow:  0 2px 2px -2px rgba(0,0,0,.2);
    font-size: 1.2rem;
  }

  .orinapp{
    background-color: rgba(128, 128, 128, 0.13);
  }

  .dropdown a{
    color: rgba(22, 22, 22, 0.781);
  }
  .dropdown a:hover{
    text-decoration: none;
  }

  .dropdown div:nth-child(1){
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);
  }

  .icons-dashboard{
    width: 20px;
    margin-right: 10px;
  }

  .alert-danger{
    font-size: 12px;
  }


  @media only screen and (min-width: 700px) {

    .card-total{
        margin-top: 3em;
    }
    .add-new{
        justify-content: flex-end;
        padding-right: 1em;
    }

  }
  
  
  
  
  
  